.Import{
    background-image: url("import.jpg");
}
.list-group{
    margin-top: 2%;
    width:40%;
    overflow-y: auto;
    height: 300px;
    font-weight: bold;
}
.list-group-item{
    background-color: rgb(163, 226, 247);
}
.Upload{
    margin-left: 0.8%;
    font-style:italic;
    font-weight: bold;
    text-decoration:underline;
}
.Chosen_file{
    font-style:italic;
    font-weight: bold;
}
.Input{
    font-weight: bold;
    background-color: rgb(59, 142, 209);
}
.construction{
    background-image: url("construction.jpg");
    margin: auto 10px;
    width: auto;
    height: 750px;
    background-color: yellow;
}